@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}

#header {
	display: flex;
	justify-content: center;
	padding-top: 60px;
}

#header img {
	width: 55px;
	margin-right: 5px;
}

#header h1 {
	font-size: 40px;
	margin-left: 5px;
}

#header h1 span {
	font-weight: normal;
}

#header a {
	display: flex;
	color: #000;
	text-decoration: none;
}
